<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pink.supply.mapper.ItemDetailsMapper">

<select id="getItemDetailsByName" parameterType="pink.supply.model.ItemDetailsVO" resultType="pink.supply.model.ItemDetailsVO">
	SELECT
		name
		, specifications
		, category
		, change_date
		, in_charge
		, stock
		<!-- , turnover_rate -->
	FROM
		medical_supplies
	WHERE
		name = #{name} <!-- AND visible = 'Y' -->
</select>

<!-- visible = 'Y' -> visible = 'N' -->
<update id="toggleVisible" parameterType="pink.supply.model.ItemDetailsVO">
    UPDATE
    	medical_supplies 
    SET
    	visible = 'N'
    WHERE
    	name = #{name}
</update>

<!-- visible = 'N' -> visible = 'Y'-->
<update id="toggleVisibleYes" parameterType="pink.supply.model.ItemDetailsVO">
    UPDATE
    	medical_supplies 
    SET
    	visible = 'Y'
    WHERE
    	name = #{name}
</update>

<resultMap type="pink.supply.model.ItemDetailsVO" id="detailImage">
	<result column="name" property="name"/>
	<result column="visible" property="visible"/>
	<collection property="atcVo" resultMap="atcVo"/>
</resultMap>
<resultMap type="pink.supply.model.AttachVO" id="atcVo">
	<result column="name" property="name"/>
	<result column="uploadpath" property="uploadpath"/>
</resultMap>

<select id="callImage" parameterType="pink.supply.model.ItemDetailsVO" resultMap="detailImage">
SELECT 
	a.name
	, a.uploadpath
	, ms.name
	, ms.visible
FROM
	medical_supplies ms
JOIN 
	attach a
ON 
	a.name=ms.name
WHERE 
	a.name = #{name}
</select>

</mapper>

<!--     UPDATE medical_supplies
    SET visible = CASE
        WHEN visible = 'Y' THEN 'N'
        WHEN visible = 'N' THEN 'Y'
    END
    WHERE name = #{name} -->