<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="pink.supply.mapper.itemReceivedMapper">
<update id="callitemReceivedList" parameterType="pink.supply.model.SuppliesListVO">
update medical_supplies set stock= stock+ #{quantity}, change_date=default, in_charge=#{in_charge}
where name = #{name} and category = #{category} and visible='Y'
 </update>
</mapper>

