<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pink.supply.mapper.ItemDetailsMapper">

<select id="callStopUsing" parameterType="pink.supply.model.StopUsingVO" resultType="pink.supply.model.StopUsingVO">
SELECT 
	name
	, specifications
	, manufacturer
	, category
	, subcategory
	, change_date
	, in_charge
	, stock
	, turnover_rate
FROM
	medical_supplies
WHERE
	visible = 'Y'
ORDER BY 
	change_date DESC
</select>