<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="pink.supply.mapper.SuppliesListMapper">

<select id="callSupplyList" parameterType="pink.supply.model.SuppliesListVO" resultType="pink.supply.model.SuppliesListVO">
SELECT 
	name
	, specifications
	, manufacturer
	, category
	, subcategory
	, change_date
	, in_charge
	, stock
FROM
	medical_supplies
WHERE
	visible = 'Y'
ORDER BY 
	change_date DESC
</select>

<update id="ForwardingDept" parameterType="pink.supply.model.SuppliesListVO">
UPDATE 
	medical_supplies 
SET 
	stock = stock - #{quantity}
	, in_charge = #{in_charge}
	, change_date = default 
WHERE 
	name = #{name} 
AND 
	specifications = #{specifications}
AND 
	visible = 'Y'
</update>

<insert id="ForwardingList" parameterType="pink.supply.model.ReleasedVO">
INSERT INTO
	released
	(
	department
	, name
	, specifications
	, quantity
	, change_date
	, memo
	)
VALUES
	(
	#{department}
	, #{name}
	, #{specifications}
	, #{quantity}
	, default
	, #{memo}
	)
</insert>

<select id="callDataByQR" parameterType="pink.supply.model.SuppliesListVO" resultType="pink.supply.model.SuppliesListVO">
SELECT 
	name
	, specifications
	, stock
	, visible
FROM 
	medical_supplies
WHERE 
	name = #{name}
AND 
	visible = 'Y'
</select>

<update id="updateItem" parameterType="pink.supply.model.SuppliesListVO">
UPDATE
	medical_supplies
SET
	stock = stock + #{quantity}
	, in_charge = #{in_charge}
	, change_date = default 
WHERE 
	name = #{name} 
AND 
	specifications = #{specifications}
AND 
	visible = 'Y'

</update>

<select id="selctCategory" parameterType="pink.supply.model.SuppliesListVO" resultType="pink.supply.model.SuppliesListVO">
SELECT 
	name
	, specifications
	, manufacturer
	, category
	, subcategory
	, change_date
	, in_charge
	, stock
FROM 
 	medical_supplies
WHERE
	subcategory = #{subcategory}
</select>

<select id="categoryCnt" parameterType="pink.supply.model.SuppliesListVO" resultType="pink.supply.model.SuppliesListVO">
SELECT 
	subcategory
	, COUNT(*) AS cnt
FROM 
	medical_supplies
GROUP BY 
	subcategory
</select>

</mapper>
